/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    position: relative;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

button{
    cursor: pointer;
}

.font_noto{
    font-family: "Noto Serif", serif;
}